
@{
    ViewData["Title"] = "PageNotFound";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center justify-content-center text-center">

            <div class="container">
                <h1 class="display-1 text-secondary font-weight-bold">404</h1>
                <p class="h4 text-dark mb-4">Oops! The page you're looking for doesn't exist.</p>
                <a href="/" class="btn btn-primary btn-lg">Back to Home</a>
            </div>

        </div>
    </div>
</div>

