
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        @*----------------------------*@
        <li> OPERATOR</li>

        <li class="nav-item">
            <a class="nav-link" asp-area="EMS" asp-controller="Operator" asp-action="EnterLoc">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Enter LOC</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Operator" asp-action="ViewLoc">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">View LOC</span>
            </a>
        </li>

        @*----------------------------*@
        <li> MANAGER</li>

        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">View LOC</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title text-wrap">Monthly Receipt and Payment Summary</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title text-wrap">Receipt and Payment for the Fianancial Year</span>
            </a>
        </li>

        @*----------------------------*@

        <li> ADMIN</li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Modify LOC</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Modify Receipt</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="" asp-action="">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Modify Expenditure</span>
            </a>
        </li>

        @*----------------------------*@
        <li> DDO</li>

        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Enter Receipt</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Enter Payments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title text-wrap">Monthly Receipt and Payment Summary</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title text-wrap">Receipt and Payment for the Fianancial Year</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Update Profile</span>
            </a>
        </li>


    </ul>
</nav>